* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body > h2 {
    text-transform: uppercase;
    margin: 30px 0 0 50px;
    color: #333333;
}
.container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badNews {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.img img {
    display: block;
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info p {
    margin: 30px 0;
}
.info button {
    display: block;
    text-transform: uppercase;
    color: white;
    background-color: #333333;
    padding: 10px 20px;
    border: none;
    width: fit-content;
}
h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 1rem;
    width: fit-content;
}
h3 strong {
    color: black;
    font-size: 1.5rem;
    
}